APP_NAME='WorldCup Betting System'

POSTGRES_PASSWORD='YOUR_DATABASE_PASSWORD'

# Psycopg2 - User, port, db_name vem do compose
DATABASE_URL='postgresql+psycopg2://postgres:YOUR_DATABASE_PASSWORD@localhost:5433/worldcupbetting_db'

#JWT
# chave exemplo
SECRET_KEY='YOUR_BASE64_SECRET'

# algoritmo de criptografia do JWT 
ALGORITHM='HS256'

# 1 dia em minutos
ACCESS_TOKEN_EXPIRE_MINUTES=1440 